---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Supabase from "./icons/Supabase.astro";
import TypeScript from "./icons/TypeScript.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SUPABASE: {
    name: "Supabase",
    class: "bg-[#333333] text-white",
    icon: Supabase,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#007ACC] text-white",
    icon: TypeScript,
  },
};
const PROJECTS = [
  {
    title: "SplitBill - Divide los gastos compartidos",
    description:
      "Plataforma gratuita para guardar gastos con quien quieras y luego dividir la cuenta de forma sencilla. Utiliza OAuth 2.0 client from google para iniciar sesión. Creado desde cero con Next.js, App Router, React Server Components, Supabase y Tailwind CSS.",
    link: "https://split-bill-next.vercel.app",
    github: "https://github.com/FacuRamosG/split-bill-next",
    image: "/projects/splitbill.webp",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.SUPABASE, TAGS.TAILWIND],
  },
  {
    title: "eComerce - Tienda online de productos",
    description:
      "Un proyecto que realice tomando como base una prueba técnica de Mercado Libre, donde pude poner en práctica el uso de apis, busqueda en ellas . Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://ecomer-gold.vercel.app/",
    github: "https://github.com/FacuRamosG/ecommerce",
    image: "/projects/ecomerce.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="grid grid-flow-col auto-cols-[minmax(0,_2fr)] sm:flex sm:flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
